<h1>{{ page_code }}</h1>

<div class="mb-16 bordered p-2 border-entando border-hero-table">
  <form class="grid grid-flow-row gap-2" [formGroup]="heroForm" (ngSubmit)="saveNewHero()">
    <label class="input input-bordered flex items-center gap-2">
      <input type="text" class="grow" placeholder="Name" formControlName="name" />
    </label>
    <label class="input input-bordered flex items-center gap-2">
      <input type="text" class="grow" placeholder="City" formControlName="city" />
    </label>
    <label class="input input-bordered flex items-center gap-2">
      <input type="text" class="grow" placeholder="Super Power" formControlName="superPower" />
    </label>
    <button class="btn btn-success btn-active">Save</button>
  </form>
</div>