<div class="mb-16 bordered p-2">
  <form class="grid grid-flow-row gap-2" [formGroup]="heroForm" (ngSubmit)="saveNewHero()">
    <label class="input input-bordered flex items-center gap-2">
      <input type="text" class="grow" placeholder="Name" formControlName="name" />
    </label>
    <label class="input input-bordered flex items-center gap-2">
      <input type="text" class="grow" placeholder="City" formControlName="city" />
    </label>
    <label class="input input-bordered flex items-center gap-2">
      <input type="text" class="grow" placeholder="Super Power" formControlName="superPower" />
    </label>
    <button class="btn btn-success btn-active">Save</button>
  </form>

</div>

<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Super Power</th>
      </tr>
    </thead>
    <tbody>
      @for(hero of heroes; track hero.name) {
      <tr>
        <td>{{ hero.name }}</td>
        <td>{{ hero.city }}</td>
        <td>{{ hero.superPower }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
